/* ------------------------------------------------------------------ */

/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome5-all.min.css");
/* ------------------------------------------------------------------
 /* b. Reset
       Adapted from:
       Normalize.css - https://github.com/necolas/normalize.css/
       HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
 /* ------------------------------------------------------------------ */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* blockquote, q { quotes: &#8220 &#8220; }
  */

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #A7F4F6;
    color: #555;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------------------ */

/* c. Default and Basic Styles
       Adapted from:
       Skeleton CSS Framework - http://www.getskeleton.com/
       Typeplate Typographic Starter Kit - http://typeplate.com/
 /* ------------------------------------------------------------------ */

/*  1. Basic  ------------------------------------------------------- */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    /* color: #838C95; */
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/*  2. Typography
        Vertical rhythm with leading derived from 6
 --------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #313131; */
    font-family: 'opensans-bold', sans-serif;
    font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 6px;
}

h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 12px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
}

h5 {
    font-size: 18px;
    line-height: 30px;
}

h6 {
    font-size: 14px;
    line-height: 30px;
}

p {
    margin: 0 0 30px 0;
}

p img {
    margin: 0;
}

/* p.lead {
    font: 19px/36px 'opensans-light', sans-serif;
    margin-bottom: 18px;
 } */

/* for 'em' and 'strong' tags, font-size and line-height should be same with
 the body tag due to rendering problems in some browsers */

em {
    font: 15px/30px 'opensans-italic', sans-serif;
}

strong,
b {
    font: 15px/30px 'opensans-bold', sans-serif;
}

small {
    font-size: 11px;
    line-height: inherit;
}

/*	Blockquotes */

blockquote {
    margin: 30px 0px;
    padding-left: 40px;
    position: relative;
}

blockquote:before {
    /* content: "\201C"; */
    opacity: 0.45;
    font-size: 80px;
    line-height: 0px;
    margin: 0;
    font-family: arial, sans-serif;
    position: absolute;
    top: 30px;
    left: 0;
}

blockquote p {
    font-family: 'librebaskerville-italic', serif;
    padding: 0;
    font-size: 18px;
    line-height: 36px;
}

blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}

/* blockquote cite:before { content: "\2014 \0020"; } */

/* blockquote cite a,
blockquote cite a:visited {
    color: #8B9798;
    border: none
} */